<%= form_with(model: version_control, local: true) do |form| %>
  <% if version_control.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(version_control.errors.count, "error") %> prohibited this version_control from being saved:</h2>

      <ul>
      <% version_control.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :vcs_type %>
    <%= form.text_field :vcs_type %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
