<p id="notice"><%= notice %></p>

<h1>Ides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th>Open source</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ides.each do |ide| %>
      <tr>
        <td><%= ide.name %></td>
        <td><%= ide.notes %></td>
        <td><%= ide.open_source %></td>
        <td><%= link_to 'Show', ide %></td>
        <td><%= link_to 'Edit', edit_ide_path(ide) %></td>
        <td><%= link_to 'Destroy', ide, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ide', new_ide_path %>
