<%= form_with(model: programming_language, local: true) do |form| %>
  <% if programming_language.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programming_language.errors.count, "error") %> prohibited this programming_language from being saved:</h2>

      <ul>
      <% programming_language.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :year_of_creation %>
    <%= form.text_field :year_of_creation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
